<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>404 Not found.</title>
</head>
<body>
<section>
    <h1 class="main-header">404 Not found.</h1>
    <p>
        The resource you where looking for was not found on the server. If you think that the resource should be
        available, contact the server administrator <a th:href="'mailto:' + ${owner.mail}" th:text="${owner.mail}">mail@example.com</a>.
    </p>
</section>
</body>
</html>