<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::h1}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>JBamberger.de</title>
</head>
<body>
<h1 class="main-header">Welcome to JBamberger.de</h1>
<section>

    <ul class="main-list">
        <li><a href="https://github.com/JBamberger" target="_blank">Jannik on Github</a></li>
        <li><a href="https://github.com/JBamberger/fhg-android-app" target="_blank">FHG Application on Github</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=xyz.jbapps.vplan" target="_blank">FHG Application on
            Google Play</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=kn.uni.isg.evidenceapp" target="_blank">OriginStamp
            Trusted Timestamping on Google Play</a></li>
    </ul>
</section>
</body>
</html>